:root {
  /* valores para restablecer de fábrica */
  --val_fabrica_interface: 14px;  /*ord: 15   movil: 14px*/
  --val_fabrica_tamano:    20px;  /*ord: 24   movil: 20px*/  
}

html, body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;  /* Safari, algun Android  Evita navegador aumente tamaño texto al girar.*/
}

/* CONTENIDO: VENTANA DE TEXTO */
#id_contenido {
  height: calc(100dvh - 100px);
  max-height: 100dvh;   /* esta no estaba activada pero quiero probar */
}

@media (max-width: 600px) {
  .bloque_input,
  .bloque_opciones,
  .bloque_coincidencias {
    flex: 1 0 100%;
    min-width: 0;
  }
}

input, select, button {
  min-width: 0;
}

