:root {
  /* valores para restablecer de fábrica */
  /*--fabrica_interface_tamano:  diferente valor ordenador y movil  */
  --fabrica_tema:        oscuro;
  --fabrica_texto_color: #80ff80;  /* verde */
  --fabrica_texto_fondo: #00051e;  /* azul oscuro */
  --fabrica_texto_font:  calibri;  
  /*--fabrica_texto_tamano:      diferente valor ordenador y movil  */  
  
  /* Tipo de letra a usar en interface */
  --interface_font:   Arial, sans-serif;    
  
  /* variables */
  --barra_texto:  white;  
  --barra_fondo:  black; 
  
  --panel_texto:  #b0b0b0;  /* gris b0 */
  --panel_fondo:  #111111;  /* gris 11 */
  --panel_borde:  #707070;  /* gris 70 */
  
  --estado_texto: #997777;  /* gris 77 con toque rojo 99 */
  
  --boton_texto:  white;  
  --boton_fondo:  #444444;  /* gris 44 */
  --boton_borde:  #707070;  /* gris 70 */
  --boton_hover:  #9f4f00;  /* marrón */
  --lista_texto:  white;    

  --contenido_titulo:     #ff8000;  /* naranja */
  --contenido_corchetes:  yellow;   /* amarillo */
  --contenido_enlaces:    #00aaad;  /* azulado */

  --buscar_resaltado:        yellow;
  --buscar_resaltado_actual: #ffa000;   
  
  --color_blanco:   white;
  --color_negro:    black;
  --color_rojo:     red;
  --color_amarillo: yellow;
  --color_verde:    lime;
}
/*   
Familia      Ejemplos de fuentes
-------      ------------------------
sans-serif	 Arial, Helvetica, Verdana, Calibri, Roboto
serif        Times New Roman, Georgia, Garamond
monospace	   Courier New, Consolas, Menlo
cursive	     Comic Sans MS, Brush Script
fantasy	     Impact, Papyrus
system-ui	   Segoe UI (Windows),  San Francisco (mac),  Roboto (Android)

Se pone una lista de respaldo
font-family: Ubuntu, Arial, sans-serif;

Así usaría Ubuntu Si no existe usa Arial Si no existe usa sans-serif (cualquiera)
*/

html {
  font-family: var(--interface_font);
  color:      white;
  background: black;
}

body {
  display: flex;  
  flex-direction: column;
  overflow: hidden;
  height: 100vh;  /* clave para que funcionen bien los paneles */
  margin: 0;
  padding: 0;
}

select, button, input[type="text"], input[type="number"] {
  color:      var(--boton_texto);
  background: var(--boton_fondo);
  border: 2px solid var(--boton_borde);
  border-radius: 8px;
  padding: 2px 3px;
  font-size: 1.1em;
  margin-left: 2px;
  margin-right: 2px;
}

button:hover {
  background: var(--boton_hover);
  cursor: pointer;
}

#id_barra_lista {
  color:       var(--color_amarillo); 
  background:  var(--panel_fondo); 
  font-size:   1em;
  font-weight: bold;
  cursor: pointer;
}

#id_buscar_lista {
  color:       var(--color_blanco); 
  background:  var(--panel_fondo); 
  font-size:   1em;
  font-weight: bold;
  cursor: pointer;
}

/* botones de flechas anterior siguiente menos mas */
#id_interface_menos,
#id_interface_mas,
#id_texto_menos,
#id_texto_mas {
  width: 40px;
}

/* BARRA DE ESTADO --------------------------------------- */
#id_panel_estado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 11px;
}

#id_estado {
  color: var(--estado_texto);
  background: black;
  font-size: 1.1em;
  /*padding: 4px 11px;*/
}

/* CONTENIDO: VENTANA DE TEXTO */
#id_contenido {
  white-space: pre-wrap;
  overflow-y: auto;
  scroll-behavior: smooth; 
  /*height: calc(100dvh - 100px);*/
  max-height: 100dvh;  
  line-height: 1.2;  
  color:       white;
  background:  black; 
  font-family: var(--fabrica_texto_font);
  font-size:   var(--fabrica_texto_tamano);  
  padding: 10px; 
  
  overflow-x: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  
  /*box-sizing: border-box;*/
}

#id_contenido {
  flex: 1 1 auto;
  overflow-y: auto;
}

#id_barra_superior,
#id_paneles_container,
#id_panel_estado {
  flex: 0 0 auto;
}

/* PANELES --------------------------------------- */
#id_panelesContainer {
  flex: 0 0 auto;
  font-size: 20;
}

/* Ocultar elementos */
.oculto {
  display: none !important;
  /* visibility: hidden !important;
     opacity: 0 !important;  */
}

.panel {
  color:      var(--panel_texto);
  background: var(--panel_fondo);
  border-bottom: 1px solid var(--panel_borde);
  padding: 6px 10px;
}
.panel_fila {
  display: flex;
  align-items: center;  /* centra verticalmente labels, botones...*/ 
  padding: 6px 1px;     /* alto  ancho */ 
  gap: 4px; 
}

/* PANELES BUSCAR - AJUSTES - NUEVAS VERSIONES */
#id_paneles_container {
  color:      var(--panel_texto);
  background: var(--panel_fondo);
  font-size: 1em;
}

#id_panel_buscar,
#id_panel_ajustes,
#id_panel_nuevas_versiones {
  position: sticky;
  top: 0;
  z-index: 200;
  border-bottom: 1px solid var(--panel_borde);
}

.panel_fila_coincidencias {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  gap: 6px;
  /* margin-bottom: 15px; */
  padding: 6px 1px;  /* alto  ancho */
}

.panel_titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.panel_cerrar {
  color:      var(--boton_texto);
  background: var(--color_rojo);
  border: 2px solid var(--boton_borde);
  border-radius: 8%; /* Con X de texto es 50% */
  padding: 2px 3px;  
}

/* PANEL BUSCAR --------------------------------------- */
/* Primer bloque: label + input */
.bloque_input {
  display: flex;
  flex: 1 1 50%;    /* grow 1  shrink 1  basis 50%*/
  /*min-width: 90px;   /*Para que pueda bajar de línea cuando no quepa */
  gap: 8px;
  align-items: center;
}

/* El input ocupa el 70% del ancho de su div */
#id_buscar_este_texto {
  width:  auto;   /* mejor con 70%;  con auto; no va*/
  min-width: 50%;
  flex: 1 1 auto;     /* Respeta el width sin expandirse más */
}

#id_buscar_este_texto {
  color:      var(--color_amarillo);
  background: var(--panel_fondo);
}

#id_archivos_anterior,
#id_archivos_siguiente,
#id_btn_anterior_coincidencia,
#id_btn_siguiente_coincidencia {
  width: 50px;
}

#id_coincidencia_actual,
#id_tamano_interface,
#id_tamano_font {
  color: var(--color_blanco);
  font-size: 1.1em;
  margin-left: 4px; 
  margin-right: 4px;
  min-width: 10px;
}

#id_numero_coincidencia {
  color:      var(--color_amarillo);
  background: var(--panel_fondo);
  width: 70px;
}

#id_label_chk_todos,
#id_label_chk_mayusculas{
  cursor: pointer;
  margin-right: 16px;
}

/* Segundo bloque: checkboxes + botón */
.bloque_opciones {
  /*display: flex;*/
  justify-content: center;   /* Centra su contenido */
  /*align-items: center;*/
  gap: 10px;
  flex-wrap: wrap;
  flex: 1 0 50%;       /* Hace que ocupe toda la fila cuando baja */
  text-align: center;  /* Opcional, mejora la alineación de los labels */
}

.bloque_coincidencias {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;       /* Hace que ocupe toda la fila cuando baja */ 
  justify-content: left;   /* Centra su contenido */
  align-items: center;
  gap: 4px;
  text-align: center;   /* Opcional, mejora la alineación de los labels */
}

/* Resaltados Busqueda */
.resaltado {
  color:      var(--color_negro);
  background: var(--buscar_resaltado);
}

.resaltado_actual {
  color:      var(--color_negro);
  background: var(--buscar_resaltado_actual);
}

/* PANEL NUEVAS VERSIONES  --------------------------------------- */
.btn_color_amarillo {
  color: var(--color_amarillo) !important;
  border: 1px solid var(--color_amarillo) !important;
  font-weight: bold;
}
