:root {
  /* valores para restablecer de fábrica */ 
  --val_fabrica_interface: 18px;  
  --val_fabrica_tamano:    26px; 
}

/* --------------- BARRA SUPERIOR  ------------------ */
/* Contenedor principal: una sola línea */
#id_barra_superior {
  flex-wrap: nowrap;
}

/* Bloque izquierdo */
#id_bloque_archivos {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Bloque central + derecho */
#id_bloque_botones {
  display: flex;
  align-items: center;
  gap: 30px;        /* separación entre bot1 y bot2 */
  margin-left: auto; /* ❗ Esto empuja todo el bloque a la derecha */
  padding: 8px 0px;
}

/* Bloque central */
#id_bloque_bot1 {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Bloque derecho */
#id_bloque_bot2 {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* ---------------------------------------------- */

#id_interface_menos,
#id_interface_mas,
#id_texto_menos,
#id_texto_mas {
  width: 50px;
}

#id_coincidencia_actual,
#id_tamano_interface,
#id_tamano_font {
  color: var(--color_blanco);
  font-size: 1.2rem;
  margin-left: 4px; 
  margin-right: 4px;
  min-width: 30px;
}

.panel_fila {
  display: flex;
  gap: 10px;  
  padding: 6px 1px;     /* alto  ancho */ 
  align-items: center;  /* centra verticalmente labels, botones...*/
}
