:root {
  /* valores para restablecer de fábrica */
  --val_fabrica_tema:   oscuro;
  --val_fabrica_texto:  #ffffff;
  --val_fabrica_fondo:  #000000; 
  --val_fabrica_font:   calibri;    
  --val_fabrica_tamano:    20px;  /*ord: 24   movil: 20px*/
  --val_fabrica_interface: 14px;  /*ord: 15   movil: 14px*/
}

html, body {
  height: 100%;
}

html {
  font-size: var(--interface_tamano);
  -webkit-text-size-adjust: 100%;  /* Para Safari y algunos Android  Evita que el navegador aumente el tamaño del texto al girar.*/
}

/* CONTENIDO: VENTANA DE TEXTO */
#id_contenido {
  color:       var(--contenido_texto);
  background:  var(--contenido_fondo); 
  font-family: var(--contenido_font);
  font-size:   var(--contenido_tamano);  
  border: 2px solid #333;
  border-radius: 4px;  
  padding: 10px;
  white-space: pre-wrap;
  line-height: 1.4;
  height: calc(100dvh - 100px);
  max-height: 100dvh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

#id_label_chk_mayusculas{
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

@media (max-width: 600px) {
  .bloque_input,
  .bloque_opciones,
  .bloque_coincidencias {
    flex: 1 0 100%;
    min-width: 0;
  }
}

input, select, button {
  min-width: 0;
}

