:root {
  /* valores para restablecer de fábrica */
  --val_fabrica_interface: 14px;  
  --val_fabrica_tamano:    20px;  
}

html, body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;  /* Safari, Android  Evita navegador aumente tamaño texto al girar.*/
}

/* --------------- BARRA SUPERIOR  ------------------ */
#id_barra_superior {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  color:      var(--barra_texto);
  background: var(--barra_fondo);
  border-bottom: 1px solid #333;
  font-size:   1rem;
  align-items: center;
  padding: 8px 10px;
  flex-direction: column;   /* Dos líneas */
}

/* Línea 1: centrada */
#id_bloque_archivos {
  display: flex;
  align-items: center;  
  gap: 10px;
  justify-content: center;  /* Centrado horizontal */
  width: 100%;              /* Ocupa toda la línea */
}

/* Línea 2: contenedor de izquierda + derecha */
#id_bloque_botones {
  display: flex;
  width: 100%;                    /* Ocupa toda la línea */  
  justify-content: space-between; /* Izquierda y derecha */
  align-items: center;
  padding: 8px 0px;
}

/* Bloque izquierdo */
#id_bloque_bot1 {
  display: flex;
  gap: 6px;
}

/* Bloque derecho */
#id_bloque_bot2 {
  display: flex;
  gap: 6px;
}
/* ---------------------------------------------- */
/*
@media (max-width: 600px) {
  .bloque_input,
  .bloque_opciones,
  .bloque_coincidencias {
    flex: 1 0 100%;
    min-width: 0;
  }
}*/
